Connectivity issues after setup

After completing the script install and setting the DNS as per your video I cannot connect from Thunderbird.
I am using Ubuntu LTS.
Here is relevant output from journalctl -xe
```
Dec 30 17:46:35 ssd.hosts-for-sites postfix/submission/smtpd[12473]: connect from unknown[37.25.47.130]
Dec 30 17:46:35 ssd.hosts-for-sites postfix/submission/smtpd[12473]: lost connection after CONNECT from unknown[37.25.47.130]
Dec 30 17:46:35 ssd.hosts-for-sites postfix/submission/smtpd[12473]: disconnect from unknown[37.25.47.130] commands=0/0
Dec 30 17:46:35 ssd.hosts-for-sites postfix/submission/smtpd[12475]: connect from unknown[37.25.47.130]
Dec 30 17:46:35 ssd.hosts-for-sites postfix/submission/smtpd[12475]: lost connection after CONNECT from unknown[37.25.47.130]
Dec 30 17:46:35 ssd.hosts-for-sites postfix/submission/smtpd[12475]: disconnect from unknown[37.25.47.130] commands=0/0
```

As mentioned in my previous issue I have consulted #postfix on freenode about this but I have not found a solution. 

Thanks. 


This sounds to me like it could be a TLS related problem.

Can you try the following steps:

1. Fire up the postfix log stream in one window:
```bash
journalctl --unit postfix --follow
```
2. Restart postfix (not just reload)
```bash
systemctl restart postfix
```
3. Try and send an e-mail from your mail client
4. Capture the log output from step one and see if there are any TLS errors in the output. (Postfix will only log the TLS config errors once initially)

Additionally, you can run a TLS scan of your postfix instance on this website, which will tell you if your TLS configuration is working correctly.

https://www.immuniweb.com/ssl/
(Make sure to use the correct port number for scanning, e.g. 25 or 587)

```
Dec 31 15:51:40 ssd.hosts-for-sites systemd[1]: Starting Postfix Mail Transport Agent...
Dec 31 15:51:40 ssd.hosts-for-sites systemd[1]: Started Postfix Mail Transport Agent.
```
That is all the relevant information I get when both trying to login and when I send an email to the address. 

When I run the the additional tests I get no problems and an A rating. 

Thanks.

When you mean "A rating," what is that? Are you doing the tests in the readme? Checking whether your domain is still assumed as spam and blocked?

When you say you can't "connect" in Thunderbird, is this the initial login or only sending mail? Seems like you are presenting a problem in Postfix, but is Dovecot's logon working fine?

The 'A rating' is the rating I have gotten from running the test at https://www.immuniweb.com/ssl/ as for the tests in the readme I have run the test at intodns here are the two red issues.
```
WARNING: MX records points to a CNAME. CNAMEs are not allowed in MX records, according to RFC974, RFC1034 3.6.2, RFC1912 2.4, and RFC2181 10.3. The problem MX record(s) are:  
```
and
```
ERROR: No reverse DNS (PTR) entries. The problem MX records are:
140.131.53.185.in-addr.arpa -> no reverse (PTR) detected
You should contact your ISP and ask him to add a PTR record for your ips 
```
I cannot connect when trying to login with Thunderbird. 

Since I did the video, the script assumes that you set up a PTR entry. Did you do that as in the readme?

In case, I'll ask again, are you having trouble logging into only Postfix or Dovecot as well?

I am in the process of transferring my domain name over to my epik account. I will report back when this process is complete and I can try again. 